<header
  class="header p-2 mb-2 d-flex bg-primary text-white justify-content-between"
>
  <div class="m-2 me-4">
    <span class="material-icons-outlined"> video_library </span>
  </div>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-primary" id="dropdownForm1" ngbDropdownToggle>
      <span class="material-icons-outlined"> account_circle </span>
      {{ "user" | titlecase }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
      <button ngbDropdownItem (click)="openModalDialogCustomClass(content)">
        <span class="material-icons-outlined"> person </span>Profile
      </button>
      <button ngbDropdownItem (click)="userLogOut()">
        <span class="material-icons-outlined"> logout </span>Logout
      </button>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="container">
      <form
        class="signUp"
        [ngClass]="action == 'back' ? 'active-sx' : 'inactive-sx'"
      >
        <h3>Create Your Account</h3>
        <p>
          Just enter your email address<br />
          and your password for join.
        </p>
        <input
          class="w100"
          type="email"
          placeholder="Insert eMail"
          reqired
          autocomplete="off"
        />
        <input type="password" placeholder="Insert Password" reqired />
        <input type="password" placeholder="Verify Password" reqired />
        <button class="form-btn sx log-in" type="button" (click)="login()">
          Log In
        </button>
        <button class="form-btn dx" type="submit">Sign Up</button>
      </form>
      <form
        class="signIn"
        [ngClass]="action == 'login' ? 'active-dx' : 'inactive-dx'"
      >
        <h3>Welcome<br />Back !</h3>
        <button class="fb" type="button">Log In With Facebook</button>
        <p>- or -</p>
        <input
          type="email"
          placeholder="Insert eMail"
          autocomplete="off"
          reqired
        />
        <input type="password" placeholder="Insert Password" reqired />
        <button class="form-btn sx back" type="button" (click)="back()">
          Back
        </button>
        <button class="form-btn dx" type="submit">Log In</button>
      </form>
    </div>
    <!-- <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
    </div> -->
  </ng-template>
</header>
