<header
  class="header p-2 mb-1 d-flex bg-primary text-white justify-content-between"
  style="
    background: linear-gradient(65deg, #030d31, #47459d);
    background-color: #184e8e;
  "
>
  <div class="m-2 me-4">
    <span class="material-icons-outlined cursor-pointer" routerLink="/">
      smart_display
    </span>
  </div>
  <div>
    <div ngbDropdown class="d-inline-block m-2">
      <button
        type="button"
        class="btn btn-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Home
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>All</button>
        <button ngbDropdownItem>Movies</button>
        <button ngbDropdownItem>Series</button>
        <button ngbDropdownItem>TV Shows</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block m-2">
      <button
        type="button"
        class="btn btn-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Categories
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action</button>
        <button ngbDropdownItem>Comedy</button>
        <button ngbDropdownItem>Animation</button>
        <button ngbDropdownItem>Documentary</button>
        <button ngbDropdownItem>Drama</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block m-2">
      <button
        type="button"
        class="btn btn-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Language
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Tamil</button>
        <button ngbDropdownItem>English</button>
        <button ngbDropdownItem>Hindi</button>
        <button ngbDropdownItem>Telugu</button>
        <button ngbDropdownItem>Malayalam</button>
      </div>
    </div>
  </div>
  <div ngbDropdown class="d-inline-block m-2 me-4">
    <button
      class="btn btn-primary d-flex align-items-center"
      id="dropdownForm1"
      ngbDropdownToggle
    >
      <span class="material-icons-outlined"> account_circle </span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
      <button
        ngbDropdownItem
        class="d-flex align-items-center"
        (click)="openModalDialogCustomClass(content)"
      >
        <span class="material-icons-outlined"> person </span>Profile
      </button>
      <button
        ngbDropdownItem
        class="d-flex align-items-center"
        (click)="userLogOut()"
      >
        <span class="material-icons-outlined"> logout </span>Logout
      </button>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="container">
      <form
        class="signUp"
        [ngClass]="action == 'back' ? 'active-sx' : 'inactive-sx'"
      >
        <h3>Create Your Account</h3>
        <p>
          Just enter your email address<br />
          and your password for join.
        </p>
        <input
          class="w100"
          type="email"
          placeholder="Insert eMail"
          reqired
          autocomplete="off"
        />
        <input type="password" placeholder="Insert Password" reqired />
        <input type="password" placeholder="Verify Password" reqired />
        <button class="form-btn sx log-in" type="button" (click)="login()">
          Log In
        </button>
        <button class="form-btn dx" type="submit">Sign Up</button>
      </form>
      <form
        class="signIn"
        [ngClass]="action == 'login' ? 'active-dx' : 'inactive-dx'"
      >
        <h3>Welcome<br />Back !</h3>
        <button class="fb" type="button">Log In With Facebook</button>
        <p>- or -</p>
        <input
          type="email"
          placeholder="Insert eMail"
          autocomplete="off"
          reqired
        />
        <input type="password" placeholder="Insert Password" reqired />
        <button class="form-btn sx back" type="button" (click)="back()">
          Back
        </button>
        <button class="form-btn dx" type="submit">Log In</button>
      </form>
    </div>
    <!-- <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
    </div> -->
  </ng-template>
</header>
