<div class="card bg-primary">
  <span id="newJ"></span>
  <!-- <button class="btn btn-primary" [routerLink]="'video'">video</button> -->
  <div>
    <ngb-carousel id="carouselHero" *ngIf="images" class="mb-3">
      <ng-template
        ngbSlide
        *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
      >
        <div class="picsum-img-wrapper">
          <img
            [src]="'/assets/' + x + '.jpg'"
            alt="Random first slide"
            style="
              background-color: black;
              height: -webkit-fill-available;
              width: -webkit-fill-available;
            "
          />
        </div>
        <div class="carousel-caption">
          <button class="btn btn-primary m-2" [routerLink]="'video'">
            Play Movie
            <!-- <span class="material-icons-outlined"> play_circle </span> -->
          </button>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="d-flex flex-wrap">
    <div
      class="card row-card text-bg-dark m-2 cursor-pointer"
      style="width: 18rem"
      *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
      [routerLink]="'individual/'+x"
    >
      <img [src]="'/assets/' + x + '.jpg'" class="card-img" alt="..." />
      <div class="card-img-overlay bottom-0 start-50" style="background: black;
      opacity: 0.5">
        <h5 class="card-title">Pathaan</h5>
        <div class="card-text">
          <div class="d-flex flex-column" style="font-size: smaller">
            <p>Starring : Shah Rukh Khan, Deepika Padukone, John Abraham</p>
            <p>Language : Hindi, English, Russian</p>
            <p>imdbRating: 6.0</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div
      class="card row-card"
      style="width: 18rem"
      *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
      [routerLink]="'individual/' + x"
    >
      <img [src]="'/assets/' + x + '.jpg'" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Pathaan</h5>
        <div class="card-text">
          <div class="d-flex flex-column" style="font-size: smaller">
            <p>Starring : Shah Rukh Khan, Deepika Padukone, John Abraham</p>
            <p>Language : Hindi, English, Russian</p>
            <p>imdbRating: 6.0</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- / -->
